<h1 style="font: 16px sans-serif; color:#333; margin: 16px 0 18px;font-weight: 500; line-height: 28px;"> This Month's Popular Courses - Enrolling Now</h1>
						
  <table id="blue" cellspacing="0" cellpadding="5"  style="font-size: 12px; width: 100%; margin-bottom: 12px">
  
  <% split_up = raw(cleaned_for_news(block_content.body, tracking_code)).split(/\n/) %>

  	<tr>
  	  <% split_up.each_with_index do |link, index| %>
    	  <td>
    	    <%= link %>
    	  </td>
  	
    <% if index % 3 == 2 %>
      </tr>
      <% unless index + 1 == split_up.count %>
        <tr>
      <% end %>
    <% end %>
		
  <% end %>
  
</table><br/>
