

<h3 style="font: 16px sans-serif; color:#333; margin: 10px 0 16px;font-weight: 500">In this issue</h3>

<p style="font-size: 12px">

<% @newsletter.newsletter_blocks.order('sort_order ASC').each_with_index do |block, i| %>  
  <% unless block.main_title == "" %>
    <span style="color: #ea3d2f; font-weight: bold; font-family: arial;"> > </span><a href="#block_#{i}" style="margin: 0 6px; color: #3b659f; text-decoration: none;"><%= block.anchor_text? ? block.anchor_text : block.main_title %></a><br/>
  <% end %>

<% end %>
<br/>  
</p>

<h3 style="font: 16px sans-serif; color:#333; margin: 0px 0 16px; padding-top: 14px; border-top: 1px dotted #9dc5de; font-weight: 500">
  Want to start learning?             
</h3>

<table width="200">
  <tr>
    <td valign="top">

      <p style="font-size: 12px; color: #666">
      <strong style="color: #333;">Unsure what to do next?</strong>

      We can help.

      <br/>
      <br/>

      Call us on<br/> <strong style="color: #333;font-size: 16px">1300 928 239</strong>

      <br/>

      or <a href="http://coursesnow.com.au/enquiry/<%= tracking_code %>" style="color: #DA3200">email us</a>  today.

      </p>

    </td>
    <td valign="bottom">
      <img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/agent.jpg">
    </td>
  </tr>
</table>


</p>

<h3 style="font: 16px sans-serif; color:#333; margin: 0px 0 16px; padding-top: 14px; border-top: 1px dotted #9dc5de; font-weight: 500">
  Stay ahead             
</h3>

<%= render :partial => 'tractor/newsletters/templates/template_2/blocks/social' %>


<br/>  <h3 style="font: 16px sans-serif; color:#333; margin: 0px 0 16px; padding-top: 14px; border-top: 1px dotted #9dc5de; font-weight: 500">
  Our promise
</h3>    
<a href="http://coursesnow.com.au/info/guarantee/<%= tracking_code %>" border="0"><img src="/assets/coursesnow_price3.jpg"></a>
<br/>            
