<table style="font-size: 12px;">
  <tr>
    <td valign="top"><img src="/assets/cn_small.jpg"></td>
    <td valign="top"><a href="http://coursesnow.com.au/<%= tracking_code %>" style="margin: 0 6px; color: #767676; text-decoration: none;">Visit Website &raquo;</a></td>
  </tr>
  <tr>
    <td valign="top"><img src="/assets/facebook_small.jpg"></td>
    <td valign="top"><a href="http://www.facebook.com/CoursesNow" style="margin: 0 6px; color: #767676; text-decoration: none;">Facebook Page &raquo;</a></td>
  </tr>
 <!--  <tr>
    <td valign="top"><img src="/assets/linkedin_small.jpg"></td>
    <td valign="top"><a href="http://www.linkedin.com/company/courses-now" style="margin: 0 6px; color: #767676; text-decoration: none;">Linked In &raquo;</a></td>
  </tr> -->
  <tr>
    <td valign="top"><img src="/assets/twitter_small.jpg"></td>
    <td valign="top"><a href="http://twitter.com/#!/Coursesnow" style="margin: 0 6px; color: #767676; text-decoration: none;">Twitter &raquo;</a></td>
  </tr>
</table>
