       

            <table border="0" cellspacing="0" cellpadding="0" align="center" class="newsie" valign="middle" style="margin: 18px 0;"> 
              <tr> 
                <td style="width:20px" width="20"></td> 
                <td style="background: #fff" valign="middle"> 
                  <%= link_to(image_tag("cmwlogo.jpg", :alt => "Cellar Master Wine", :style => "border: 0; width: 442px; height: 62px;"), "http://cellarmasterwines.com")  %> 
                </td> 
                <td style="background: #fff" valign="middle"> 
                  <%= link_to((image_tag("cmw_offer.jpg", :alt => "Cellar Master Wines")), "https://www.cellarmasterwines.com/discount/BROKENWOOD%20INDIGO%20PINOT%20OFFER") %>
                </td> 
                <td style="width:20px" width="20"></td> 
              </tr> 
            </table> 
            

