<div style="background: #333; width: 800px; margin: 0 auto;" class="news_reset" align="center"> 
  <div class="newsie_background" style="font: sans-serif; line-height: 20px;" align="center">
    
    <table style="background: none; border: none; margin: 0 auto 10px auto; padding: 0; color: #bbb; font-size: 10px; font-weight: normal; font-family: sans-serif; line-height: 14px; width: 700px;" align="center" width="700">
      <tr>
        <td style="border: none; margin: 0; padding: 0;" width="20"></td>
        <td style="border: none; color: #bebebe; font-size: 10px; font-weight: normal; font-family: sans-serif; " width="300">
           Hi [fullname,fallback=there], <%= @newsletter.preheader != '' ? @newsletter.preheader : "Some great wine specials await..." %>

        </td>
        <td style="border: none;"  width="80">
        </td>
        <td style="border: none; color: #bebebe; font-size: 10px; font-weight: normal; font-family: sans-serif">
          Is this email not displaying correctly?<br/><webversion style="color: #fff;text-decoration: none;border: none; font-size: 11px;"><span style="color: #fff;text-decoration: none;border: none;font-size: 11px;">View it in your browser.</span></webversion>
        </td>
        <td style="border: none;"  width="20"> </td>
      </tr> 
    </table>


   
