<!-- NAV !! --> 
<table border="0" cellspacing="0" cellpadding="0" align="center" class="newsie dotted-both"> 
  <tr> 
    <td style="width:20px; background: #6d1417; padding-top: 4px" width="20"></td> 
    <td style="color: #ccc; background: #6d1417; padding-top: 4px; padding-bottom: 4px; font-size: 12px" width="660">
      <a href="https://www.cellarmasterwines.com/all" style="margin: 0 12px 0 32px; color: #fff; text-decoration: none;">All Wine</a> | 
      <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=762&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">Red Wine</a> | 
      <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=771&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">White Wine</a> | 
      <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=1164&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">Champagne</a> | 
      <a href="https://www.cellarmasterwines.com/mixed-cases" style="margin: 0 12px; color: #fff; text-decoration: none;">Mixed Cases</a> | 
      <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=795&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">Sparkling</a> | 
      <a href="https://www.cellarmasterwines.com" style="margin: 0 12px; color: #fff; text-decoration: none;">More...</a>  
    </td> 
    <td style="width:20px;background: #6d1417;" width="20"></td> 
  </tr> 
</table><!-- // NAV --> 



