<% # Banner Block %>
<table cellspacing="0">
  <tr>
    <td style="width: 20px; padding: 0; margin: 0;"></td>
    <td style="position: relative;">
      <%= link_to("edit", edit_newsletter_block_path(block),:class => "btn", :style => "position: absolute; top: 0; left: 0; padding: 10px;" ) if current_user && params[:send_version] != "0" %>
      <%= link_to(image_tag(block.main_image.url, :width => "660"), block.main_link) %>
    </td>
    <td style="width: 20px; margin: 0; padding: 0; "></td>
  </tr>
</table>
