<table align="center" bgcolor="#006B99" border="0" cellpadding="20" style="font-family: arial,verdana; line-height: 18px;">
<tbody>
<tr>
<td colspan="2">
 
          
<table border="0">
<tbody>
<tr>
<td height="50">
                 
                  
<table border="0">
<tbody>
<tr>
<td width="450">
        <a href="http://au.totaltravel.yahoo.com/?src=email">
          <img border="0" height="64" src="http://l.yimg.com/ao/i/travel/tt/newsletters/imgs/tt-logo.gif" style="padding: 10px 0 10px 14px;" width="220" />
        </a>
      </td>
<td style="text-align:right; color: #bbb" valign="bottom">
        <a href="http://au.totaltravel.yahoo.com/destinations/?src=email" style="color: #fff; text-decoration: none; font-size: 12px;font-family: arial,verdana;">Destinations</a> | 
        <a href="http://au.totaltravel.yahoo.com/accommodation/australia/?src=email" style="color: #fff; text-decoration: none; font-size: 12px;font-family: arial,verdana;">Accommodation</a>  | 
        <a href="http://au.totaltravel.yahoo.com/travel-ideas/" style="color: #fff; text-decoration: none; font-size: 12px;font-family: arial,verdana;">Travel Ideas</a>
      </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2">

