<!doctype html> 

<html class="no-js" lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  </head> 
  <body style="background: #333;"> 

    <div style="background: #333; width: 800px; margin: 0 auto;" class="news_reset" align="center"> 



      <div class="newsie_background" style="font: sans-serif; line-height: 20px;"
        align="center"> 
        <table style="background: none; border: none; margin: 0 auto 10px auto; padding: 0; color: #bbb; font-size: 10px; font-weight: normal; font-family: sans-serif; line-height: 14px; width: 700px;" align="center" width="700"> 
          <tr> 
            <td style="border: none; margin: 0; padding: 0;" width="20"> 
            </td> 
            <td style="border: none; color: #bebebe; font-size: 10px; font-weight: normal; font-family: sans-serif" width="300"> 

              Hi [fullname,fallback=there], Some great wine specials await...

            </td> 
            <td style="border: none;"  width="80"> 
            </td> 
            <td style="border: none; color: #bebebe; font-size: 10px; font-weight: normal; font-family: sans-serif">Is this email not displaying correctly?<br/><webversion style="color: #fff;text-decoration: none;border: none; font-size: 11px;"><span style="color: #fff;text-decoration: none;border: none;font-size: 11px;">View it in your browser.</span></webversion> 
            </td> 
            <td style="border: none;"  width="20"> </td> 
          </tr> 
        </table> 
        <table class="newsie" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0" align="center" style="margin: 0 auto; padding: 0; width:700px; border: none;" width="700"> 
          <tr> 
            <td style="margin: 0; padding: 0; width: 100%;"> 

              <table border="0" cellspacing="0" cellpadding="0" align="center" class="newsie" valign="middle" style="margin: 18px 0;"> 
                <tr> 
                  <td style="width:20px" width="20"></td> 
                  <td style="background: #fff" valign="middle"> 
                    <a href="http://cellarmasterwines.com/?utm_source=emarketing&amp;utm_campaign=sae-open&amp;utm_medium=email&amp;utm_content=saeopen"><img src="cmw_logo.jpg" alt="Courses Now" border="0"></a> 
                  </td> 
                  <td style="background: #fff" valign="middle"> 
                    <a href="https://www.cellarmasterwines.com/discount/BROKENWOOD%20INDIGO%20PINOT%20OFFER"><img src="cmw_offer.jpg" alt="Courses Now" border="0"></a> 
                  </td> 
                  <td style="width:20px" width="20"></td> 
                </tr> 
              </table> 
              <table cellspacing="0" style="text-align: center; margin-bottom: 8px;" >
                <tr>
                  <td width="20"></td>
                  <td bgcolor="#333" style="width: 660px; text-align: center" width="660">
                    <table style="margin: 8px auto; text-align: center;" align="center"><tr><td style="text-align: center"><h1 style="color: #e5e5e5; font-size: 28px;  font-family: Gil Sans, Helvetica, Arial, Sans-serif; line-height: 28px">EARLY JUNE SALE</h1><h2 style="font-size: 24px; line-height: 26px;color: #c5c5c5;">Free Water Offer</h2></td></tr></table>
                  </td>
                  <td width="20"></td>
                </tr>
              </table>


                <table cellspacing="0">
                <tr>
                  <td style="width: 20px; padding: 0; margin: 0;"></td>
                  <td>
                    <a href="http://cellarmasterwines.com"><img src="http://placehold.it/660x220"</a>
                  </td>
                  <td style="width: 20px; margin: 0; padding: 0; "></td>
                </tr>
              </table>


 

              <table class="newsie" cellspacing="0" cellpadding="0"  align="center" bgcolor="#ffffff" border="0" style="width: 100%; padding: 0; margin: 0;" > 
                <tr> 

                  <td style="width: 20px; margin: 0; padding: 0; "> </td> 

                  <td valign="top" style="padding-bottom: 2px;"> 
                    <table style="padding: 10px; background: #eeeeee;">
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>


          </td>
          <td style="width: 20px; background: #eeeeee;" width="20">&nbsp;</td>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>

 
          </td>
        </tr>
      </table>


    </td>
  </tr>
</table>
<br/>
                    <table style="padding: 10px; background: #eeeeee;">
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>


          </td>
          <td style="width: 20px; background: #eeeeee;" width="20">&nbsp;</td>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>

 
          </td>
        </tr>
      </table>


    </td>
  </tr>
</table>
<br/>
                    <table style="padding: 10px; background: #eeeeee;">
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>


          </td>
          <td style="width: 20px; background: #eeeeee;" width="20">&nbsp;</td>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>

 
          </td>
        </tr>
      </table>


    </td>
  </tr>
</table>

                    <img src="http://placehold.it/660x80" style="margin: 10px 0 6px;">
                    <table cellspacing="10" style="background: #eee;">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="308">
            <img src="label.jpg" style="border: 1px solid #999; 308px" width="308">
          </td>
          <td style="width: 20px;" width="20"></td>
          <td width="328" valign="top">
            <h3>Some title lorem</h3>
            <p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p>
            <p style="color: #222; font-size: 16px; margin: 8px 0">PRICE/NOW</p>
            <p><img style="width: 152px" src="cta_button.jpg"></p>


          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>



<br/>
                    <table cellspacing="10" style="background: #eee;">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="308">
            <img src="label.jpg" style="border: 1px solid #999; 308px" width="308">
          </td>
          <td style="width: 20px;" width="20"></td>
          <td width="328" valign="top">
            <h3>Some title lorem</h3>
            <p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p>
            <p style="color: #222; font-size: 16px; margin: 8px 0">PRICE/NOW</p>
            <p><img style="width: 152px" src="cta_button.jpg"></p>


          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>



<br/>
                    <table cellspacing="10" style="background: #eee;">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="308">
            <img src="label.jpg" style="border: 1px solid #999; 308px" width="308">
          </td>
          <td style="width: 20px;" width="20"></td>
          <td width="328" valign="top">
            <h3>Some title lorem</h3>
            <p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p>
            <p style="color: #222; font-size: 16px; margin: 8px 0">PRICE/NOW</p>
            <p><img style="width: 152px" src="cta_button.jpg"></p>


          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>



<br/>
                    <table cellspacing="10" style="background: #eee;">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="308">
            <img src="label.jpg" style="border: 1px solid #999; 308px" width="308">
          </td>
          <td style="width: 20px;" width="20"></td>
          <td width="328" valign="top">
            <h3>Some title lorem</h3>
            <p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p>
            <p style="color: #222; font-size: 16px; margin: 8px 0">PRICE/NOW</p>
            <p><img style="width: 152px" src="cta_button.jpg"></p>


          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>



<br/>
                    <table cellspacing="10" style="background: #eee;">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="208">
            <img src="tall.jpg" width="208" style="border: 1px solid #999999; width:208px">
          </td>
          <td style="width: 20px;" width="20"></td>
          <td width="428" valign="top">
            <h3>Some title lorem</h3>
            <p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p>
            <p style="color: #222; font-size: 16px; margin: 8px 0">PRICE/NOW</p>
            <img src="cta_button.jpg" width="152" style="width: 152px"></p>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>



<br/>
                    <table cellspacing="10" style="background: #eee;">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="308">
            <img src="label.jpg" style="border: 1px solid #999; 308px" width="308">
          </td>
          <td style="width: 20px;" width="20"></td>
          <td width="328" valign="top">
            <h3>Some title lorem</h3>
            <p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p>
            <p style="color: #222; font-size: 16px; margin: 8px 0">PRICE/NOW</p>
            <p><img style="width: 152px" src="cta_button.jpg"></p>


          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>



<br/>
                    <table style="padding: 10px; background: #eeeeee;">
  <tr>
    <td>
      <table cellspacing="0" class="twin_blocks" style="margin: 0; padding: 0">
        <tr>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>


          </td>
          <td style="width: 20px; background: #eeeeee;" width="20">&nbsp;</td>
          <td width="310" style="background: #eee">
            <img src="wine_flat.jpg" style="border: 1px solid #ccc; width: 308px;">
<table cellspacing="0" style="background: #eee; margin: 0; padding: 0;" >
  <tr>
    <td><h3>Some Text and Things</h3></td>
  </tr>
  <tr>
    <td><p style="color: #666; font-size: 14px;">Some text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequi... </p></td>
  </tr>
 <tr>
    <td>
      <p style="color: #222; font-size: 16px; margin: 8px 0"><span style="font-size: 12px; color: #999; text-decoration:line-through">Rec. Retail HK$180 </span><br/><span style="color: red; font-size: 16px; font-weight: bold;"> Special Price HK $75.00</span></p></td>
  </tr>
  <tr>
    <td><img src="cta_button.jpg" style="width: 152px;"></td>
  </tr>
</table>

 
          </td>
        </tr>
      </table>


    </td>
  </tr>
</table>
<br/>
                  </td>
                  <td style="width:20px;" width="20">
                  </td> 
                </tr> 
              </table> 


               <!-- NAV !! --> 
      <table border="0" cellspacing="0" cellpadding="0" align="center" class="newsie dotted-both"> 
        <tr> 
          <td style="width:20px; background: #6d1417; padding-top: 4px" width="20"></td> 
          <td style="color: #ccc; background: #6d1417; padding-top: 4px; padding-bottom: 4px; font-size: 12px" width="660"> 
            <a href="https://www.cellarmasterwines.com/all" style="margin: 0 12px 0 32px; color: #fff; text-decoration: none;">
              All Wine
            </a>
             | 
            <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=762&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">
              Red Wine
            </a> | 
            <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=771&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">White Wine</a> | 
            <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=1164&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">Champagne</a> | 
            <a href="https://www.cellarmasterwines.com/mixed-cases" style="margin: 0 12px; color: #fff; text-decoration: none;">Mixed Cases</a> | 
            <a href="https://www.cellarmasterwines.com/wine?s_type%5B%5D=795&cellarmaster_price=0&s_price%5Bmin%5D=&s_price%5Bmax%5D=" style="margin: 0 12px; color: #fff; text-decoration: none;">Sparkling</a> | 
            <a href="https://www.cellarmasterwines.com" style="margin: 0 12px; color: #fff; text-decoration: none;">More...</a>  
          </td> 
          <td style="width:20px;background: #6d1417;" width="20"></td> 
        </tr> 
      </table><!-- // NAV --> 
 


              <table> 
                <tr> 
                  <td width="20"></td> 
                  <td  width="300"> 
                    <h1 style="font: 16px sans-serif; color:#333; margin: 22px 0 18px; font-weight: 500;"> 
                      Why did I receive this message?
                    </h1> 
                    <p style="font-size: 12px; color: #666">You have received this email after subscribing via the CellarMasterWines website. We appreciate the opportunity to share our information with you and hope you are happy to continue receiving our updates. 
                    <br/>Call us on <strong>+852 2791 6332</strong> for further information</p></td> 
                  <td width="40"></td> 
                  <td  width="160" valign="top"> 
                    <br/>        <br/>      <br/> 
                    <table style="font-size: 12px;"> 
                      <tr> 
                        <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/cn_small.jpg"></td> 
                        <td valign="top"><a href="https://www.cellarmasterwines.com" style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Visit Website &raquo;</a></td> 
                      </tr> 
                      <tr> 
                        <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/facebook_small.jpg"></td> 
                        <td valign="top"><fblike likeurl="http://www.facebook.com/cellarmasterwines" style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Like on Facebook &raquo;</span></fblike></td> 
                      </tr> 
                      <tr> 
                        <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/twitter_small.jpg"></td> 
                        <td valign="top"><tweet style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none; border: none;">Tweet this &raquo;</span></tweet></td> 
                      </tr> 
                      <tr> 
                        <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/email_small.jpg"></td> 
                        <td valign="top"><forwardtoafriend style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Forward to a friend &raquo;</span></forwardtoafriend></td> 
                      </tr> 
                    </table> 

                  </td> 

                  <td  width="160" valign="top"> 
                    <br/>      <br/>      <br/> 
                    <table style="font-size: 12px;"> 
                      <tr> 
                        <td valign="top"></td> 
                        <td valign="top"><a href="https://www.cellarmasterwines.com" style="margin: 0 6px; color: #767676; text-decoration: none;">Order Online &raquo;</a></td> 
                      </tr> 
                      <tr> 
                        <td valign="top"></td> 
                        <td valign="top"><a href="https://www.cellarmasterwines.com/about-us" style="margin: 0 6px; color: #767676; text-decoration: none;">About Us &raquo;</a></td> 
                      </tr> 
                      <tr> 
                        <td valign="top"></td> 
                        <td valign="top"><a href="https://www.cellarmasterwines.com/privacy-policy" style="margin: 0 6px; color: #767676; text-decoration: none;">Privacy Policy &raquo;</a></td> 
                      </tr> 
                      <tr> 
                        <td valign="top"></td> 
                        <td valign="top"><a href="https://www.cellarmasterwines.com/terms-and-conditions" style="margin: 0 6px; color: #767676; text-decoration: none;">Terms &amp; Conditions &raquo;</a></td> 
                      </tr> 

                    </table> 


                  </td> 
                  <td width="20"></td> 
                </tr> 
              </table>&nbsp;

           </td> 
          </tr> 
        </table> 

        <table style="background: none; border: none; margin: 5px auto 10px auto; padding: 0; color: #bbb; font-size: 10px; font-weight: normal; font-family: sans-serif; line-height: 14px; width: 700px;" align="center" width="700"> 
          <tr> 
            <td style="border: none; margin: 0; padding: 0;" width="20"> 
            </td> 
            <td style="border: none; color: #bebebe; font-size: 10px; font-weight: normal; font-family: sans-serif; text-align: center" width="650"> 

              <p style="font-size: 11px;" align="center"> This email was sent to [email]. If you are no longer interested you can <unsubscribe style="border: none;text-decoration: none; color: #ccc;"><span style="border: none; color: #fff; text-decoration: none;">unsubscribe instantly</span></unsubscribe>.
              <br/>© Copyright 2012 CellarMasterWines Wine Club<br/>9/F, Tin Fung Industrial Mansion, 63 Wong Chuk Hang Road, HK</p> 


            </td> 
            <td style="border: none;"  width="20"> </td> 
          </tr> 
        </table> 



        <br /> 



      </div> 

      <style> 
        .news_reset * { border: 0; margin: 0; padding: 0; font-size: 12px; font-family: sans-serif;}
        .newsie_background { background: #333333; margin: 0; padding: 10px 0; width: 100%; }
        .newsie table, .newsie table tr, .newsie table tr td { border: none; padding: 0; margin: 0; font: normal sans-serif; line-height: 20px;}
        .newsie table.dotted-top { border-top: 1px dotted #808080; }
        .newsie .featured p, .newsie .col_three p,.newsie .left_col p { font-size: 12px; line-height: 20px; margin-bottom: 12px; color: #080808;  }
        .newsie table * { font-size: 12px; line-height: 20px; color: #080808;}
        table.dotted-both {border-top: 1px dotted #808080; border-bottom: 1px dotted #808080;}
        .newsie table h3 { font-size: 18px; color: #6d1417; line-height: 32px; font-family: Georgia, Times, Helvetica; }
      </style> 



    </div> 



  </body> 
</html> 



