<table style="font-size: 12px;"> 
  <tr> 
    <td valign="top"><%= image_tag('cmw_icon.jpg') %></td> 
    <td valign="top"><a href="https://www.cellarmasterwines.com" style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Visit Website &raquo;</a></td> 
  </tr> 
  <tr> 
    <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/facebook_small.jpg"></td> 
    <td valign="top"><fblike likeurl="http://www.facebook.com/cellarmasterwines" style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Like on Facebook &raquo;</span></fblike></td> 
  </tr> 
  <tr> 
    <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/twitter_small.jpg"></td> 
    <td valign="top"><tweet style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none; border: none;">Tweet this &raquo;</span></tweet></td> 
  </tr> 
  <tr> 
    <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/email_small.jpg"></td> 
    <td valign="top"><forwardtoafriend style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Forward to a friend &raquo;</span></forwardtoafriend></td> 
  </tr> 
</table> 
